@font-face {
    font-family: PNU;
    src: url(/assets/fonts/PNU-Light.ttf);
}

@font-face {
    font-family: Galaxy;
    src: url(/assets/fonts/AA-GALAXY.otf);
}

@font-face {
    font-family: KacstTitle;
    src: url(/assets/fonts/KacstTitle.ttf);
}