@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.counter {
    border: 3px solid $primary;
    border-radius: 50%;
    aspect-ratio: 1/1;

    margin: 10% { top: 0px };

    @include centered;
    @include shiny($accent, 50%);
    flex-direction: column;

    h1:first-child {
        font-family: KacstTitle;
    }

    h1:last-child {
        color: $accent;
    }
}

.controls {
    @include centered;
    flex-wrap: wrap;
    button {
        width: 80%;
    }
}