@use '../../styles/mixins.scss' as *;

.controls {
    @include centered;
    flex-wrap: wrap;
    button {
        width: 80%;
    }

    span {
        margin-top: 10px;
        display: block;
        width: 80%;
        text-align: center;
        font-size: 14px;
    }
}