.dialogshide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    opacity: 0;
    display: none;
    overflow: hidden
}

.dialogs {
    @extend .dialogshide;
    background-color: transparent;
    z-index: 3;
    opacity: 1;

    > * {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
    }
}

.dialogs.on {
    ~ *:not(.dialogs) {
        filter: blur(0.2rem);
    }

    ~ .dialogshide {
        display: block;
        opacity: 0.8;
    }

    display: flex;
}

