@use "./sass/fonts.scss";
@use "./app/styles/variables.scss" as *;

* {
    font-family: PNU;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $light;
    user-select: none;
}

body {
    direction: rtl;
    background-color: $dark;
}

button {
    background-color: darken($light, 3);
    color: $dark;
    border: none;
    outline: none;
    font-size: 22px;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 5px;

    &.action {
        background-color: darken($accent, 20);
        color: $light;
    }
}